<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajouter-Joueur</title>
  </head>
  <body>
    <div>
      <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
          <label>ID Joueur</label>
          <input
            type="text"
            [(ngModel)]="newJoueur.idJoueur"
            name="idJoueur"
            class="form-control"
          />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Nom Joueur</label>
          <input
            type="text"
            [(ngModel)]="newJoueur.nomJoueur"
            name="nomJoueur"
            class="form-control"
          />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Date De Naissance</label>
          <input
            type="date"
            [(ngModel)]="newJoueur.datenaissance"
            name="datenaissance"
            class="form-control"
          />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Equipe</label>
          <input
            type="text"
            [(ngModel)]="newJoueur.equipe"
            name="equipe"
            class="form-control"
          />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <label>Position</label>
          <input
            type="text"
            [(ngModel)]="newJoueur.position"
            name="position"
            class="form-control"
          />
        </div>
        <div class="mt-2">
          <button type="submit" (click)="addJoueur()" class="btn btn-success">
            Ajouter
          </button>
          <div> <h3> {{ message }}</h3></div>
        </div>
      </form>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
